@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

@theme {
  --color-brand: #d7f70c;
  --color-lightBulue: #4fc3ff;
  --color-lightRed: #ff6b4a;
  --color-primary: #f8faf2;
  --color-dark-green: rgb(32, 77, 18);
  --font-inter: Inter;
}
